.chart {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid white; */
  border-bottom: none;
  border-top: none;
  /* background: rgb(251,192,63);
  background: radial-gradient(circle, rgba(251,192,63,1) 0%, rgba(144,110,64,1) 91%, rgba(0,0,0,1) 100%); */
}

.chart__tittle {
  font-size: 70px;
  color: white;
  font-weight: 900;
  display: flex;
  flex-direction: column;
}

.chart__tittle span {
  font-family: monospace;
} 

.chart__tittle--champions{
  display: flex;
  flex-direction: row;
}

.chart_tittle--description{
  width: 100%;
  padding-top: 5%;
  font-size: 30px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

.chart_tittle--description span{
  color: white;
}

.svg-inline--fa { /*Este habria que capturarlo con js*/
  color:gold;
}

.teams{
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .chart {
    padding-top: 20%;
  }

  .chart__tittle {
    font-size: 45px;
  }
  
  .chart__tittle--champions {
    display: flex;
    flex-direction: column;
    color: gold;
  }
}



