.teamChart {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10%;
}

.teamPhoto{
  display: flex;
  align-items: center;
}

.teamPhoto img{
  display: flex;  
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
}

.teamInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teamInfo--year span{
  font-size: 50px;
  font-weight: lighter;
}

@media only screen and (max-width: 600px) {
  .teamChart {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20%;
  }
  
  .teamPhoto img{
    display: flex;  
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
  }
}

